<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, Database"/>
    </configSections>
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySQL Data Provider"/>
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, Database"/>
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <connectionStrings>
        <add name="AuthDB" connectionString="" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, Database">
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, Database"/>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, Database"/>
        </providers>
    </entityFramework>
</configuration>
